# Файлы, которые создаются при сборке/компиляции (не отслеживаются)

# Скомпилированные исполняемые файлы
my_Program
app
test_app

# Объектные и промежуточные файлы
*.o
*.obj
*.out
*.exe
*.a
*.so

# Служебные каталоги сборки
build/
bin/
obj/
